In [4]:
import pandas as pd
renewable_resource=['wind', 'solar', 'hydro', 'geothermal']
rs=pd.Series(renewable_resource)
rs

0          wind
1         solar
2         hydro
3    geothermal
dtype: object

In [9]:
#dataframe
data={
    'Project':['solar farm', 'wind turbine', 'hydro plant', 'geothermal station','tidal plant'],
    'Technology':['solar', 'wind', 'hydro', 'geothermal','tidal'],
    'Capacity':[150,300,200,50,170],
    'Cost':[200,400,350,100,250],
    'Location':['california', 'texas', 'washington','nevada','LA'],
    'YOC':[2023,2022,2021,2023,2022]
}
df=pd.DataFrame(data)
df

              Project  Technology  Capacity  Cost    Location   YOC
0          solar farm       solar       150   200  california  2023
1        wind turbine        wind       300   400       texas  2022
2         hydro plant       hydro       200   350  washington  2021
3  geothermal station  geothermal        50   100      nevada  2023
4         tidal plant       tidal       170   250          LA  2022

In [10]:
high_capacity=df['Capacity']>150
print(f"high capacity project are {high_capacity}")

high capacity project are 0    False
1     True
2     True
3    False
4     True
Name: Capacity, dtype: bool

In [15]:
import numpy as np
a=np.array([[1,2],[3,4]])
a

array([[1, 2],
       [3, 4]])

In [22]:
#random
import numpy as np
n=np.random.rand(5)
n

array([0.49398403, 0.11273774, 0.13744854, 0.33919044, 0.61693927])

In [23]:
p=np.random.randint(0,10,3)
p

array([6, 7, 1])

In [24]:
p=np.random.randint(0,10,size=(3,3))
p

array([[7, 9, 0],
       [3, 3, 6],
       [8, 1, 1]])

In [29]:
q=np.random.choice(10,2)
q

array([4, 3])

In [32]:
q=np.random.choice(5,5,replace=False)
q

array([4, 3, 1, 2, 0])